#source {
  position: fixed;
  right: 0px;
  top: 0px;
  background: #333333;
  color: #ffffff;
  padding: 0.5em;
}

#source a {
  color: #ffffff;
}

#sas_type_selection {
  display: none;
}

span.sas > span.sas_emoji > img {
  font-size: 48px;
}

#log span.sas > span {
  display: none;
  background: white;
}

body.sas_words #log span.sas > span.sas_words {
  display: inline;
}

body.sas_emoji #log span.sas > span.sas_emoji {
  display: inline-block;
}

body.sas_hex #log span.sas > span.sas_hex {
  display: inline;
}

#log {
  max-height: calc(100vh - 6em);
  overflow-y: auto;
}

#log > div {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  border: 1px solid black;
  border-radius: 0.25em;
  color: black;
  padding: 0.25em;
}

#log > div.description {
  font-weight: bold;
}

#log > div.alice {
  background: #99ff99;
  text-align: left;
}

#log > div.bob {
  background: #9999ff;
  text-align: right;
}

#log > div.mallory {
  background: #ff9999;
  text-align: center;
}

#log > div.error {
  background: #ff0000;
  text-align: left;
  font-weight: bold;
}

#log > div.done {
  display: none;
}

#log > div.done:last-child {
  display: block;
}
#log > div.done:first-child:last-child {
  display: none;
}
